# Python
__pycache__/

# Virtual Environment
.env
.venv
env/
venv/


# Django
*.log
db.sqlite3
media/
staticfiles/
static/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Secret files
*.secret

# Test coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
